<blog-categories-tab></blog-categories-tab>

@if (posts$ | async; as posts) {
  <div class="center-container">
    <blog-category-title [section]="category$ | async"></blog-category-title>
    <blog-posts-list [posts]="posts.posts"></blog-posts-list>
  </div>

  <div class="center-container">
    <mat-paginator
      [length]="posts.total"
      [pageSize]="posts.perPage"
      [showFirstLastButtons]="true"
      [pageIndex]="currentPage$ | async"
      (page)="navigate($event)"
      aria-label="Select page">
    </mat-paginator>
  </div>
}

@defer (on viewport) {
  <blog-divider></blog-divider>
  <blog-engineering-content></blog-engineering-content>

  <blog-jobs></blog-jobs>
} @placeholder {
  <mat-spinner></mat-spinner>
}
