.principles-header {
  margin: 2rem 1rem;
  &__image {
    width: 50%;
  }

  @media screen and (min-width: 768px) {
    margin: 2rem 0;
    display: flex;
    gap: 32px;
    align-items: center;

    &__image {
      padding: 0 10%;
      width: 20%;
    }

    &__introduction {
      flex-grow: 2;
    }
  }

  img {
    width: 100%;
  }

  h2 {
    font-weight: 100;
    max-width: 650px;
  }

  .highlight {
    font-size: 1.2em;
    font-weight: 500;
  }
}
