.principles-header {
  display: flex;
  gap: 32px;
  align-items: center;

  &__image {
    padding: 0 10%;
    width: 20%;
    img {
      max-width: 100%;
    }
  }

  &__introduction {
    flex-grow: 2;
  }

  h2 {
    font-weight: 100;
    max-width: 650px;
  }

  .highlight {
    font-size: 1.2em;
    font-weight: 500;
  }
}
