$utilities: (
  "object-fit": (
    property: object-fit,
    class: fit,
    values: (
      "contain": contain,
      "cover": cover,
    )
  ),
  "rounded-end": (
    property: border-top-right-radius border-bottom-right-radius,
    responsive: true,
    class: rounded-end,
    values: (null: $border-radius)
  ),
  "rounded-bottom": (
    property: border-bottom-right-radius border-bottom-left-radius,
    responsive: true,
    class: rounded-bottom,
    values: (null: $border-radius)
  ),
  "rounded-start": (
    property: border-bottom-left-radius border-top-left-radius,
    responsive: true,
    class: rounded-start,
    values: (null: $border-radius, "0": 0)
  ),
);
