$bb-palette: (
    "dark-blue": #091C35,
    "electric-blue": #69FEFF,
    "white": #ffffff,
    "blue": #3366FF,
    "tangerine": #FF6047,
    "light-orange": #FFAC09,
    "slate": #302f2b,
    "grey": #737373,
    "bluegrey": #e1e4e9,
    "lightgrey": #f1f1f0,
    "offwhite": #f3f3f3
);

$spacer: 1.5rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

$family-sans-serif: 'Libre Franklin', sans-serif;

$footer-background-color: map-get($bb-palette, 'dark-blue');
$footer-color: map-get($bb-palette, "white");

$navbar-background-color: inherit;

$button-text-color: map-get($bb-palette, 'dark-blue');
$button-text-hover-color: map-get($bb-palette, 'dark-blue');
$button-text-decoration: none;
$button-text-hover-background-color: transparent;
$btn-padding-y: map-get($spacers, 2);
$btn-padding-x: map-get($spacers, 4);

$navbar-padding-y: 1rem;
$navbar-padding-x: 1rem;

$logo-font-size: 1.25em;

$page-spacer-y: map-get($spacers, 5);
