.author {
  display: flex;
  align-items: center;
  gap: 0.5em;

  &.muted {
    color: var(--blog-palette-muted);
    font-size: 0.85em;
  }

  &__avatar {
    width: 1.2rem;
    height: 1.2rem;
  }
  &__fullname {
    font-weight: 500;
  }

  &__role {
    font-weight: 300;
    font-size: 0.85em;
  }

  &.lg {
    font-size: 1.2em;

    .author__avatar {
      width: 80px;
      height: 80px;
      min-width: 80px;
    }
  }
}
