{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if include.type != 'grid' %}works{% endif %}
<div class="grid__item col-12 {% if include.type == 'grid' %}col-md-4{% endif %} mb-4">
  <article class="archive__item card" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="card-body d-flex flex-column">
      {% if include.type == "grid" and teaser %}
        <div class="archive__item-teaser">
          <img src="{{ teaser | relative_url }}" alt="">
        </div>
      {% endif %}
      <h2 class="archive__item-title no_toc">
        {% if post.link %}
          <a class="text-decoration-none" href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a class="text-decoration-none" href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
      {% include page__meta.html type=include.type %}
      {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
      <div class="mt-auto d-flex mt-auto justify-content-end">
        <a href="{{ post.url | relative_url }}" rel="permalink" class="btn btn-sm btn-link text-uppercase">Read more</a>
      </div>
    </div>
  </article>
</div>
