{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{% if include.type == 'grid' %}grid{% else %}list{% endif %}__item col-12 {% if include.type == 'grid' %}{% if include.class %}{{ include.class }}{% else %}col-md{% endif %}{% endif %} mb-4">
  <article class="archive__item card" itemscope itemtype="https://schema.org/CreativeWork">
    {% if teaser %}
      <div class="archive__item-teaser {{ post.header.teaser_class }}">
        <img src="{{ teaser | relative_url }}" alt="{{ post.header.teaser_alt }}" class="rounded-top">
      </div>
    {% endif %}
    <div class="card-body d-flex flex-column">
      <h2 class="archive__item-title no_toc">
        {% if post.link %}
          <a class="text-decoration-none" href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a class="text-decoration-none" href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
      {% include page__meta.html type=include.type %}
      {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
      <div class="d-flex mt-auto justify-content-end">
        <a href="{{ post.url | relative_url }}" rel="permalink" class="btn btn-sm btn-link stretched-link">Read more</a>
      </div>
    </div>
  </article>
</div>
