{% if page.splash %}
  <div class="bb-splash">
    <div class="bb-splash__background">
      <img src="/assets/images/NEO-People_Email-Headers_0020_43.png" alt="Woman working on a computer" />
    </div>

    <div class="bb-splash__content">
      <div class="container">
        <div class="offset-md-2 col-md-4">
          <h1 class="fs-1">power the <span class="fw-bolder">digital banking revolution</span></h1>
          <h2 class="h4">Take the initiative. Bring new ideas. Make mistakes. Learn. Keep making it happen. We trust you.</h2>
        </div>
      </div>
    </div>
  </div>
{% endif %}
