{% include base_path %}

<div class="feature__wrapper container">

  {% if page.featured %}
    {% assign post = site.posts | concat: site.principles | where:"slug",page.featured | first %}
  {% else %}
    {% assign post = site.posts | first %}
  {% endif %}

  {% if post.header.teaser %}
    {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
  {% else %}
    {% assign teaser = site.teaser %}
  {% endif %}

  <div class="feature__item{% if include.type %}--{{ include.type }}{% endif %}">
    <div class="archive__item">
      {% if teaser %}
        <div class="archive__item-teaser {{ post.header.teaser_class }}">
          <div class="card overflow-hidden">
            <img src="{{ teaser | relative_url }}" alt="{{ post.header.teaser_alt }}">
          </div>
        </div>
      {% endif %}

      <div class="archive__item-body">
        {% if post.title %}
          <h2 class="archive__item-title">{{ post.title }}</h2>
        {% endif %}

        {% if post.excerpt %}
          <div class="archive__item-excerpt">
            {{ post.excerpt | markdownify }}
          </div>
        {% endif %}

        {% if post.url %}
          <div class="d-flex">
            {% assign categories = post.categories | default: post.category %}
            {% for category_name in categories %}
              <a class="align-self-end" href="/{{ site.category_path | default: 'category' }}/{{ category_name | slugify }}">
                <span class="badge rounded-pill bg-light text-primary">{{ category_name }}</span>
              </a>
            {% endfor %}
            {% unless post.collection contains 'posts' %}
              <a class="align-self-end" href="/{{ post.collection }}">
                <span class="badge rounded-pill bg-light text-primary">{{ post.collection }}</span>
              </a>
            {% endunless %}

            <a href="{{ post.url }}" class="btn btn-info ms-auto">{{ post.btn_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

</div>
