{% capture logo_path %}{{ site.logo }}{% endcapture %}

<nav id="site-nav" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <div class="navbar-brand">
      {% if site.bb_engineering_logo == true %}
        <a class="site-logo text-decoration-none" href="{{ '/' | relative_url }}">
          {% include bb_engineering_logo.html %}
        </a>
      {% else %}
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}">
            <img src="{{ logo_path | relative_url }}" alt="">
          </a>
        {% endunless %}
        <a class="site-title" href="{{ '/' | relative_url }}">
          {{ site.masthead_title | default: site.title }}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>
      {% endif %}
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {%- for item in site.data.navigation.main -%}
          {% if item.id == 'categories' %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarCategoriesDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span>{{ item.title }}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarCategoriesDropdownMenuLink">
                {%- for category in site.categories %}
                  {% assign category_name = category | first %}
                  <a class="nav-link" href="/{{ site.category_path | default: 'category' }}/{{ category_name | slugify }}">
                    <span>{{ category_name }}</span>
                  </a>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.url | relative_url }}"{% if item.description %} title="{{ item.description }}"{% endif %} {% if item.external %}target="_blank"{% endif %}>
                <span>{{ item.title }}</span>
              </a>
            </li>
          {% endif %}
        {%- endfor -%}
      </ul>
    </div>
    {% if site.search == true %}
    <button class="search__toggle" type="button">
      <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
      <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.99 16">
        <path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.46,11.59a6.47,6.47,0,0,0,7.74.26l0.05,0.05a1.65,1.65,0,0,0,.5,1.24l2.38,2.38A1.68,1.68,0,0,0,15.5,13.12ZM6.4,2A4.41,4.41,0,1,1,2,6.4,4.43,4.43,0,0,1,6.4,2Z" transform="translate(-.01)"></path>
      </svg>
    </button>
    {% endif %}
  </div>
</nav>
