{% javascript_asset_tag global %}
- /assets/js/vendor/bootstrap/bootstrap-global-this-define.js
- /assets/js/vendor/bootstrap/bootstrap/dom/data.js
- /assets/js/vendor/bootstrap/bootstrap/base-component.js
- /assets/js/vendor/bootstrap/bootstrap/dom/event-handler.js
- /assets/js/vendor/bootstrap/bootstrap/dom/manipulator.js
- /assets/js/vendor/bootstrap/bootstrap/dom/selector-engine.js
- /assets/js/vendor/bootstrap/bootstrap/collapse.js
- /assets/js/vendor/bootstrap/bootstrap-global-this-undefine.js
{% endjavascript_asset_tag %}
