@import "prismjs/themes/prism-okaidia.css";

.post {
  &__header {
    margin: 3rem 0 3rem;
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 1rem;
  
      &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
        flex-grow: 2;
      }
    }
    &-image {
      max-width: 720px;
      img {
        width: 100%;
      }
    }
  }

  &__header-info {
    margin-bottom: 1rem;
    color: var(--blog-palette-muted);
  }

  &__header-authors {
    padding: 1rem 0;
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 32px;
    }
  }

  &__content {
    display: flex;
    @media screen and (min-width: 768px) {
      padding-left: 10%;
      gap: 1rem;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  &__related-posts {
    display: grid;
    @media screen and (min-width: 480px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
    }
  }

  &__content-text {
    max-width: 820px;
  }
  
  &__content-table {
    display: none;
    @media screen and (min-width: 1280px) {
      display: block;
    }
  }
}

.sticky {
  position: sticky;
  top: 0;
}

blog-table-of-content ::ng-deep .mat-tree-node,
markdown ::ng-deep {
  line-height: 2;
  font-size: 1.2em;
}