<blog-gradient [height]="300"></blog-gradient>
@if (post) {
  <section class="post">
    <header id="post-header" class="post__header">
      <div class="post__header-filling"></div>
      <div class="post__header-content">
        <mat-chip-set aria-label="Category selection">
          <mat-chip color="light-primary">
            <a [routerLink]="'/category/' + post.category">{{
              Category[post.category]
            }}</a>
          </mat-chip>
        </mat-chip-set>
        <h1>{{ post.title }}</h1>
        <h2 class="mat-body-2 lead">{{ post.excerpt }}</h2>
        <span class="post__header-info">
          @if (post.date) {
            {{ post.date | date: 'longDate' }} |
          }
          {{ post.readingTime }}
        </span>
        <div class="post__header-authors">
          @for (author of post.authors; track $index) {
            <a [routerLink]="'/' + $any(author).url">
              <blog-author [author]="author" size="lg"></blog-author>
            </a>
          }
        </div>
      </div>
      <div class="post__header-image">
        <img [src]="post | postUrl : post.displayTeaser?.lg" alt="" />
      </div>
    </header>
    <div class="post__content">
      <aside class="post__content-table">
        <blog-table-of-content
          class="sticky"
          [headers]="post.markdown | headers"></blog-table-of-content>
      </aside>
      <article class="post__content-text center-container">
        <markdown
          class="markdown-container"
          [data]="post.markdown"
          (ready)="resolveScripts()"></markdown>
      </article>
    </div>

    <blog-related-posts [post]="post"></blog-related-posts>
  </section>
}
