.container {
  display: grid;
  grid-gap: 36px;
  padding: 2rem 0;

  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

h2 {
  display: block;
  text-align: center;
}

mat-card {
  display: flex;
  flex-direction: row;
  padding: 16px;

  .image {
    width: 250px;
  }

  .title {
    margin: 0;
    padding: 0 16px;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
  }
}

img {
  width: 100%;
}

[data-role="button"] {
  transition: .15s ease-out transform;
  &:hover {
    transform: scale(1.02);
  }
}