<div class="center-container">
  <h2>Explore Our Engineering Approach: Check these articles!</h2>

  <div class="container">
    <mat-card
      matRipple
      data-role="button"
      (click)="navigate('/principles/software-engineering')">
      <div class="image">
        <img src="assets/undraw_engineering_team_a7n2.svg" alt="" />
      </div>
      <h2 class="title">Software Engineering</h2>
    </mat-card>

    <mat-card
      matRipple
      data-role="button"
      (click)="navigate('/principles/innersource')">
      <div class="image">
        <img src="assets/undraw_team_collaboration_re_ow29.svg" alt="" />
      </div>
      <h2 class="title">InnerSource</h2>
    </mat-card>
  </div>
</div>
