@use 'breakpoints' as responsive;

mat-card {
  display: flex;
  flex-direction: row;
  padding: 1rem;

  .title {
    margin: 0;
    padding: 0 1rem;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
  }
}

img {
  width: 100%;
}

[data-role='button'] {
  transition: 0.15s ease-out transform;
  &:hover {
    transform: scale(1.02);
  }
}
