---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$bb-palette: (
    "dark-blue": #181E41,
    "bright-blue": #00A1E0,
    "white": #ffffff,
    "red": #c22327,
    "dark-orange": #E24B2C,
    "mid-orange": #F2780C,
    "light-orange": #FFAC09,
    "slate": #302f2b,
    "grey": #737373,
    "bluegrey": #e1e4e9,
    "lightgrey": #f1f1f0,
    "offwhite": #f3f3f3
);

$gray: map-get($bb-palette, "grey");
$dark-gray: map-get($bb-palette, "slate");
$light-gray: map-get($bb-palette, "lightgrey");
$lighter-gray: map-get($bb-palette, "offwhite");

$background-color: map-get($bb-palette, "white");
$code-background-color: map-get($bb-palette, "offwhite");

$primary-color: map-get($bb-palette, "dark-blue");
$success-color: map-get($bb-palette, "bright-blue");
$warning-color: map-get($bb-palette, "mid-orange");
$danger-color: map-get($bb-palette, "dark-orange");
$info-color: map-get($bb-palette, "light-blue");

$link-color: map-get($bb-palette, "red");
$masthead-link-color: map-get($bb-palette, "white");
$masthead-link-color-hover: map-get($bb-palette, "white");
$navicon-link-color-hover: map-get($bb-palette, "white");

$sans-serif: 'Inter', sans-serif;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead,
.greedy-nav {
    background-color: map-get($bb-palette, "dark-blue");
}

.greedy-nav {
    a.site-logo {
        font-weight: 100;
        margin-right: 0;
    
        &:after {
            content: "/";
            color: map-get($bb-palette, "red");
            margin: 0 .7rem;
        }
        + .site-title {
            font-weight: 100;
        }
    }
}

.masthead {
    &__menu-item {
        font-size: .72rem;
    }
}