<h2>
  @switch (section) {
    @case ('frontend') {
      Uncover refined user interactions in our
      <span class="highlight">Frontend perspectives</span>, where professional
      insights empower developers in
      <span class="highlight">crafting visually striking interfaces</span>.
    }
    @case ('tech-life') {
      Explore the tech industry's journey with
      <span class="highlight">Tech Life chronicles</span>, where professionals
      share insights and tips for a
      <span class="highlight">fulfilling career</span> in technology.
    }
    @case ('devops') {
      Navigate the complexities of system engineering with our
      <span class="highlight">System insights</span>, where professional
      experiences guide engineers in
      <span class="highlight">architecting robust and scalable systems</span>.
    }
    @case ('backend') {
      Explore resilient backend architecture at
      <span class="highlight">Backend insights</span>, where professional
      experiences guide developers in
      <span class="highlight">crafting scalable digital foundations</span>.
    }
    @case ('career') {
      Explore career insights in our
      <span class="highlight">Developer diaries</span>, where professionals
      share
      <span class="highlight">experiences, challenges, and triumphs</span> for a
      guided journey in tech.
    }
    @case ('sdlc') {
      Explore the software development journey with
      <span class="highlight">SDLC insights</span>, where professional
      <span class="highlight">experiences guide practitioners</span> through
      each lifecycle phase.
    }
    @case ('qa') {
      Explore precision in software excellence at our
      <span class="highlight">Quality Assurance</span> hub, where we share
      insights and best practices for ensuring top-notch quality.
    }
    @case ('mobile') {
      Explore mobile development mastery in our
      <span class="highlight">Mobile</span> corner, where we delve into
      <span class="highlight">iOS and Android</span> insights for crafting
      cutting-edge applications
    }
  }
</h2>
