blog-button {
  .mdc-button.mat-mdc-button-base {
    --mat-button-filled-container-shape: 2px;
    --mat-button-outlined-container-shape: 2px;
    --mat-button-filled-container-height: 42px;
    --mat-button-outlined-container-height: 42px;
  }

  .mdc-button.mat-mdc-outlined-button.mat-accent {
    --mat-button-outlined-outline-color: var(
      --mat-button-outlined-label-text-color
    );
  }
}
