:host {
  position: relative;
  z-index: 4;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;

  &__menu-container--horizontal {
    flex-grow: 2;
    margin-left: 5%;

    .mat-mdc-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  
    .mat-mdc-list-item {
      width: auto;
    }
  }

  &__mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  
    .close-button-container {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__logo-link {
    text-decoration: none;
    color: #000000;
    font-size: .85em;
  }

  .mdc-button {
    &:after {
      content: "";
      height: 5px;
      width: 0;
      background: var(--mat-badge-background-color);
      position: absolute;
      bottom: 0;
    }
    &.active,
    &:hover {
      position: relative;
      &:after {
        transition: width .15s ease-out;
        width: 100%;
      }
    }
  }
}

.mdc-button {
  --mdc-typography-button-font-weight: 300;
}

.push-right {
  margin-left: auto;
}

.mdc-list-item.mdc-list-item--with-one-line.search {
  height: auto;
}

