@use 'breakpoints' as responsive;

:host {
  position: relative;
  z-index: 4;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;

  &__menu-container--horizontal {
    flex-grow: 2;
    margin-left: 2rem;

    .mat-mdc-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .mat-mdc-list-item {
      width: auto;
    }
  }

  &__mobile-menu {
    position: fixed;
    max-width: 100vw;
    width: 480px;
    height: 100vh;
    top: 0;

    .close-button-container {
      display: flex;
      justify-content: flex-end;
    }

    &--navigation {
      display: flex;
      min-height: 90vh;

      .mat-mdc-list {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__logo-link {
    text-decoration: none;
    color: #000000;
    font-size: 0.85em;
  }

  .mdc-button {
    &:after {
      content: '';
      height: 5px;
      width: 0;
      background: var(--mat-badge-background-color);
      position: absolute;
      bottom: 0;
    }
    &.active,
    &:hover {
      position: relative;
      &:after {
        transition: width 0.15s ease-out;
        width: 100%;
      }
    }
  }
}

.mdc-button {
  --mdc-typography-button-font-weight: 300;
}

.push-right {
  margin-left: auto;
  @include responsive.down('md') {
    margin-top: auto;
  }
}

.mdc-list-item.mdc-list-item--with-one-line.search {
  height: auto;
}

.mat-mdc-list {
  width: 100%;
}

@include responsive.down('md') {
  blog-button .mdc-button {
    min-width: initial;
  }
}
