<div class="nav">
  <a class="nav__logo-link" routerLink="/">
    <blog-logo></blog-logo>
  </a>

  @defer (when !isMobile) {
    @if (!isMobile) {
      <nav class="nav__menu-container--horizontal" aria-label="Menu Items">
        <ng-container *ngTemplateOutlet="menu"></ng-container>
      </nav>
    }
  }
  @defer (when isMobile) {
    @if (isMobile) {
      <div class="nav__menu-container---mobile">
        <blog-button>
          <button mat-fab color="primary" (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
          </button>
        </blog-button>

        <mat-drawer-container>
          <mat-drawer
            mode="over"
            [opened]="menuOpen"
            position="end"
            class="nav__mobile-menu">
            <div class="close-button-container">
              <button
                mat-icon-button
                class="close-button"
                (click)="menuOpen = false">
                <mat-icon>close</mat-icon>
              </button>
            </div>

            <nav class="nav__mobile-menu--navigation" aria-label="Menu Items">
              <ng-container *ngTemplateOutlet="menu"></ng-container>
            </nav>
          </mat-drawer>
        </mat-drawer-container>
      </div>
    }
  }
</div>

<ng-template #menu>
  <mat-list>
    @for (item of navigationItems; track $index) {
      <mat-list-item class="nav-item">
        <blog-button>
          @if (item.external) {
            <a
              mat-button
              target="_blank"
              [href]="item.link"
              (click)="toggleMenu()">
              {{ item.label }}
              <mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon>
            </a>
          } @else {
            <a
              mat-button
              [routerLink]="item.link"
              (click)="toggleMenu()"
              blogIsActive>
              {{ item.label }}
            </a>
          }
        </blog-button>
      </mat-list-item>
    }
    <mat-list-item class="search">
      <blog-search (complete)="toggleMenu()"></blog-search>
    </mat-list-item>
    <mat-list-item class="push-right push-down">
      <blog-dark-mode-toggle></blog-dark-mode-toggle>
    </mat-list-item>
    <mat-list-item>
      <blog-button>
        <a mat-stroked-button href="https://backbase.io" target="blank">
          <span>Backbase.io</span>
          <mat-icon iconPositionEnd fontIcon="open_in_new"></mat-icon>
        </a>
      </blog-button>
    </mat-list-item>
  </mat-list>
</ng-template>
