.featured {
  padding: 2rem 10px;

  &__image {
    max-width: 560px;
    position: relative;
    &::before {
      content: '';
      background: repeating-linear-gradient(
        55deg,
        var(--blog-palette-accent),
        var(--blog-palette-accent) 5px,
        transparent 5px,
        transparent 10px
      );
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      transform: translate(10px, 10px);
    }
    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 3em;
    position: relative;
  }

  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: row-reverse;
    background-color: transparent;
    padding: 2rem 0;

    &__content {
      flex-grow: 1;
      display: flex;
      align-items: center;

      .post-content {
        width: 100%;
        padding: 0 16px;
      }
    }
  }
}
