.featured {
  padding: 2rem 0;

  &__image {
    margin: 2rem;
    max-width: 560px;

    @media screen and (min-width: 480px) {
      border-radius: 0 0 0 10rem;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border: 1px solid var(--blog-palette-tangerine);
        border-radius: 0 10rem 0 10rem;
        top: 1rem;
        right: 1rem;
      }
    }
    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 3em;
  }

  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: row-reverse;
    background-color: transparent;

    &__content {
      flex-grow: 1;
      display: flex;
      align-items: center;

      .post-content {
        width: 100%;
        padding: 0 16px
      }
    }
  }
}
