<blog-gradient [height]="250"></blog-gradient>
<div class="author">
  @if (author$ | async; as author) {
    <header class="author__header center-container">
      <div class="author__header-title">
        <h1>{{ author.fullname }}</h1>
        <h2>{{ author.role }}</h2>
      </div>

      <blog-avatar class="author__avatar" [url]="author.displayAvatar?.lg" [shadow]="true" format="square"></blog-avatar>
    </header>
    <aside>
      <div class="center-container">
        Here we talk about
          @for (item of categories$ | async; track $index) {
            <mat-chip-row data-role="button" color="light-primary">
              <a [routerLink]="'/category/' + item">{{ Category[item] }}</a>
            </mat-chip-row>
          }
      </div>
    </aside>
    <div class="center-container">
      <blog-posts-list
        [posts]="(posts$ | async) || undefined"></blog-posts-list>
    </div>

    <div class="center-container bottom-cta">
      <a mat-stroked-button color="primary" routerLink="/people">View everyone</a>
    </div>
  }
  @if (notFound) {
    <div class="center-container">
      <blog-not-found></blog-not-found>
    </div>
  }
</div>
