<blog-gradient [height]="250"></blog-gradient>
<div class="author">
  @if (author$ | async; as author) {
    <header class="author__header center-container">
      <div class="author__header-title">
        <h1>{{ author.fullname }}</h1>
        <h2>{{ author.role }}</h2>
      </div>

      <blog-avatar [url]="author.avatar"></blog-avatar>
    </header>
    <aside>
      <div class="center-container">
        Here we talk about
        <mat-chip-set>
          @for (item of categories$ | async; track $index) {
            <mat-chip data-role="button">
              <a [routerLink]="'/category/' + item">{{ Category[item] }}</a>
            </mat-chip>
          }
        </mat-chip-set>
      </div>
    </aside>
    <div class="center-container">
      <blog-posts-list
        [posts]="(posts$ | async) || undefined"></blog-posts-list>
    </div>
  } @else {
    <div class="center-container">
      <blog-not-found></blog-not-found>
    </div>
  }
  <div class="center-container">
    <a [routerLink]="'/people'"> Other authors </a>
  </div>
</div>
