// /* ==========================================================================
//    ARCHIVE
//    ========================================================================== */

.archive {
  &__item {
    height: 100%;

    .btn-link {
      &.btn-sm {
        margin-left: -#{$btn-padding-x-sm};
        margin-right: -#{$btn-padding-x-sm};
      }
    }

    &-teaser {
      img {
        width: 100%;
      }

      @at-root .card & {
        max-height: 170px;
        overflow: hidden;
      }
    }

    @at-root .feature__item & {
      display: flex;
      @include make-row();

      &-teaser {
        @include media-breakpoint-up(md) {
          @include make-col-ready();
          @include make-col(4, 12);
        }
      }

      &-body {
        @include make-col-ready();
        max-width: 500px;
      }
    }
  }
}
