.archive {
  &__item {
    height: 100%;

    .btn-link {
      &.btn-sm {
        margin-left: -#{$btn-padding-x-sm};
        margin-right: -#{$btn-padding-x-sm};
      }
    }

    &-teaser {
      width: 100%;
      img {
        width: 100%;
      }

      &.centered {
        img {
          min-height: 100%;
          object-fit: contain;
        }
      }

      max-height: 170px;
      overflow: hidden;
    }

    @at-root .feature__item & {
      display: flex;
      @include media-breakpoint-down(md) {
        flex-direction: column;
      }

      &-teaser {
        margin-bottom: map-get($spacers, 3);

        @include media-breakpoint-up(md) {
          max-height: 270px;
          @include make-col-ready();
          @include make-col(4, 12);
        }
      }

      &-body {
        max-width: 500px;
      }
    }

    @at-root .list__item & {
      @include media-breakpoint-up(md) {
        flex-direction: row;

        &-teaser {
          width: 20%;
          padding: map-get($spacers, 3);

          img {
            height: 100%;
            width: auto;
            @include border-radius(0);
          }
        }
      }
    }
  }
}
