.btn {
  &-link {
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: row-reverse;
    $this: &;

    &::before {
      @extend %material-icons-round;
      content: 'east';
      color: map-get($bb-palette, 'red');
      text-transform: initial;
      margin-left: map-get($spacers, 2);
      transition: transform .3s;
      display: inline-block;

      @at-root #{$this}:hover:before {
        transform: translateX(.15em);
        transition: transform .1s;
      }
    }

    &.keep-aligned {
      margin-left: -#{$btn-padding-x};
      margin-right: -#{$btn-padding-x};
    }

    &.btn-sm {
      &.keep-aligned {
        margin-left: -#{$btn-padding-x-sm};
        margin-right: -#{$btn-padding-x-sm};
      }
    }
  }
}
