.nav {
  &bar {
    margin-bottom: 0rem;
  }

  &-link {
    span {
      vertical-align: middle;
      display: table-cell;
      padding: map-get($spacers, 1) 0;
      border-bottom: 3px solid transparent;
      transition: .25s border-color;
    }
    &.active span,
    &:hover span {
      border-bottom-color: map-get($bb-palette, "blue");
      transition: .25s border-color;
    }
  }

  &-primarylink {
    span {
      vertical-align: middle;
      display: table-cell;
      background: map-get($bb-palette, "blue");
      color: map-get($bb-palette, "white");
      font-weight: bold;
      padding: map-get($spacers, 2) map-get($spacers, 3);
      transition: .25s background-color;
    }
    &.active span,
    &:hover span {
      background: map-get($bb-palette, "red");
      transition: .25s background-color;
    }
  }

  &bar:before {
    @include media-breakpoint-up(md) {
      @at-root .layout--home & {
        height: 50vh;
        min-height: 625px;
      }
    }

    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: map-get($bb-palette, 'white');
    z-index: -1;
  }
}
