---
layout: default
---

{% include base_path %}

<div id="main" role="main">
  <section class="section__splash">
    <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">
      {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
      {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
      {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
      {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}
    </article>
  </section>

  <section class="section__entries">
    <div class="container">
      {% assign posts = site.principles %}
      {% assign entries_layout = page.entries_layout | default: 'list' %}
      <div class="row">
      {% for post in posts %}
        {% include archive-single.html type=entries_layout class="col-md-6 col-lg-4" %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>
