---
layout: default
---

{% include base_path %}

<div id="main" role="main">
  <section class="section__splash">
    <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">
      {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
      {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
      {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
      {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

      <section class="page__content" itemprop="text">
        {% if page.splash %}
          {% include bb_splash.html %}
        {% endif %}
        {% if page.feature_row %}
          {% include feature_row.html %}
        {% endif %}
        {{ content }}
      </section>
    </article>
  </section>

  <section class="section__entries">
    <div class="container">

      {% assign posts = site.principles %}
      <div class="row">
        <div class="offset-md-4 col-md-8">
          <div class="row">
            {% for post in posts %}
              {% include archive-single.html type='list' %}
            {% endfor %}
          </div>
        </div>
      </div>

      {% include paginator.html %}
    </div>
  </div>
</div>
