@use '@angular/material' as mat;
@use 'sass:color';

@include mat.core();

$backbase-primary: (
  50: #e8eaff,
  100: #c4c9fe,
  200: #99a6fe,
  300: #6683ff,
  400: #3366ff,
  500: #0048fc,
  600: #0040f0,
  700: #0034e3,
  800: #0027d9,
  900: #000bc0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$backbase-secondary: (
  50: #e4eaff,
  100: #beceeb,
  200: #9eadce,
  300: #7b8cb1,
  400: #63759c,
  500: #4a5f88,
  600: #3c5378,
  700: #2c4162,
  800: #1d2f4c,
  900: #091c35,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$backbase-electric: (
  50: #dffffe,
  100: #adfffd,
  200: #69ffff,
  300: #00fcff,
  400: #00f7fe,
  500: #00f2ff,
  600: #00e1eb,
  700: #00c9cf,
  800: #00b4b6,
  900: #008e86,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$backbase-accent: (
  50: #fbe8e7,
  100: #ffc8bc,
  200: #ffa392,
  300: #ff7e67,
  400: #ff6047,
  500: #ff3e2a,
  600: #f43826,
  700: #e63121,
  800: #d8291c,
  900: #bf1a13,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$backbase-primary-light: mat.define-palette($backbase-primary, 500);
$backbase-secondary-light: mat.define-palette($backbase-secondary, 900);
$backbase-accent-light: mat.define-palette($backbase-electric, 200);

$backbase-primary-dark: mat.define-palette($backbase-electric, 200);
$backbase-secondary-dark: mat.define-palette($backbase-secondary, 600);
$backbase-accent-dark: mat.define-palette($backbase-accent, 400);

$backbase-typography: mat.define-typography-config(
  $font-family: 'Libre Franklin',
  $headline-5: mat.define-typography-level(4em, 1, 700),
  $subtitle-1: mat.define-typography-level(1.2em, 1, 700),
  $subtitle-2: mat.define-typography-level(1em, 1, 700),
  $body-2: mat.define-typography-level(1rem, 1.5, 400),
);

$backbase-theme-light: mat.define-light-theme(
  (
    color: (
      primary: $backbase-primary-light,
      accent: $backbase-accent-light,
    ),
    typography: $backbase-typography,
    density: 0,
  )
);

$backbase-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $backbase-primary-dark,
      accent: $backbase-accent-dark,
    ),
    typography: $backbase-typography,
    density: 0,
  )
);

// end of configuration

@include mat.typography-hierarchy($backbase-typography);

.light-theme {
  @include mat.core-theme($backbase-theme-light);
  @include mat.all-component-themes($backbase-theme-light);

  --blog-palette-primary: #{mat.get-theme-color($backbase-theme-light, primary)};
  --blog-palette-secondary: #{map-get($backbase-secondary-light, default)};
  --blog-palette-accent: #{mat.get-theme-color($backbase-theme-light, accent)};
  --blog-palette-secondary-contrast: #{map-get(
      $backbase-secondary-light,
      default-contrast
    )};
  --blog-palette-gradient-1: rgba(51, 102, 255, 1);
  --blog-palette-gradient-2: rgba(255, 96, 71, 1);
  --blog-palette-gradient-3: rgba(73, 164, 255, 1);
  --blog-palette-gradient-4: rgba(105, 254, 255, 1);
  --blog-palette-background: #ffffff;
  --blog-palette-text: #{map-get($backbase-secondary-light, default)};
  --blog-palette-neutral: #f3f6f9;
  --blog-palette-tangerine: #ff6047;
  --blog-palette-electric: #69ffff;
  --blog-palette-muted: #4a5f88;
  --mat-paginator-container-background-color: var(--blog-palette-background);
  .mat-mdc-standard-chip {
    --mdc-chip-elevated-container-color: #{map-get($backbase-primary, 100)};
  }
  .mat-mdc-slide-toggle {
    --mdc-switch-unselected-track-color: #{map-get(
        $backbase-secondary-light,
        100
      )};
    --mdc-switch-unselected-focus-track-color: #{map-get(
        $backbase-secondary-light,
        50
      )};
  }
}

.dark-theme {
  @include mat.core-theme($backbase-theme-dark);
  @include mat.all-component-themes($backbase-theme-dark);

  --blog-palette-primary: #{mat.get-theme-color($backbase-theme-dark, primary)};
  --blog-palette-secondary: #{map-get($backbase-secondary-dark, default)};
  --blog-palette-accent: #{mat.get-theme-color($backbase-theme-dark, accent)};
  --blog-palette-gradient-1: #69feff;
  --blog-palette-gradient-2: #ff6047;
  --blog-palette-gradient-3: #69feff;
  --blog-palette-gradient-4: #ff6047;
  --blog-palette-background: #{color.mix(
      #000000,
      map-get($backbase-secondary, 700),
      75%
    )};
  --mdc-elevated-card-container-color: var(--blog-palette-background);
  --blog-palette-text: #ffffff;
  --blog-palette-neutral: #000000;
  --blog-palette-tangerine: #ff6047;
  --blog-palette-electric: #69ffff;
  --blog-palette-muted: #999999;
  --mat-paginator-container-background-color: var(--blog-palette-background);
}

:root {
  --mdc-typography-button-font-weight: bold;
  --mdc-elevated-card-container-elevation: none;
  --mdc-elevated-card-container-shape: 0;
  --mdc-outlined-button-container-height: 50px;
  --mdc-typography-button-letter-spacing: 0.03em;

  .mat-mdc-card {
    --mdc-elevated-card-container-elevation: 0;
  }

  --blog-breakpoint-sm: 480px;
  --blog-breakpoint-md: 776px;
  --blog-breakpoint-lg: 1128px;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: var(--blog-palette-text);
  background-color: var(--blog-palette-background);
  position: relative;
}

.center-container {
  max-width: 1108px;
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

[data-role='button'] {
  cursor: pointer;
}

.spacer {
  margin: 3rem 0;
}

blog-root {
  .mat-mdc-standard-chip {
    --mdc-chip-label-text-color: var(--blog-palette-primary);
  }
}

.hide {
  display: none !important;
}

a {
  .external {
    font-size: 0.8em;
    display: inline;
  }

  &,
  &:active,
  &:visited,
  &:focus,
  &:hover {
    color: var(--blog-palette-text);
    text-decoration-thickness: 2px;
  }
}

figure {
  padding: 0;
  margin: 0;
  text-align: center;

  img {
    max-width: 100%;
  }

  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  figcaption {
    color: var(--blog-palette-muted);
  }
}

mat-chip a {
  text-decoration: none;
}
