.initial-content {
  @include media-breakpoint-up(md) {
    background-image: url(../images/bg/backbaselogo.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 20%;
  }

  .section {
    &__splash {
      .feature__item {
        padding-bottom: $page-spacer-y;
        @include media-breakpoint-up(md) {
          padding: $page-spacer-y 0;
        }

        .archive__item-excerpt {
          font-weight: 300;
        }
      }
    }

    &__entries {
      padding-top: $page-spacer-y;
      padding-bottom: $page-spacer-y;
    }
  }

  .bb-splash {
    position: relative;
    &__background {
      position: absolute;
      height: 150%;
      display: flex;

      &, img {
        width: 100%;
        object-fit: cover;
      }
    }

    &__content {
      position: relative;
      padding-top: 7vh;
      padding-bottom: 7vh;
    }
  }
}
