.layout--splash {
  .section {
    &__splash {
      background-image: url(../images/bg/backbaselogo.svg);
      background-repeat: no-repeat;
      background-position: 90%;
      background-size: contain;
      padding-bottom: $page-spacer-y;

      @include media-breakpoint-up(md) {
        padding-top: $page-spacer-y;
      }
    }

    &__entries {
      background: $light;
      padding-top: $page-spacer-y;
      padding-bottom: $page-spacer-y;
    }
  }
}
