@use 'sass:math';
@use 'sass:color';

$dark-text-default: #000 !default;
$light-text-default: #fff !default;

@function brightness($color) {
  @return  math.div((color.red($color) * .299) + (color.green($color) * .587) + (color.blue($color) * .114), 255 * 100%);
}

@function color-contrast($color, $dark: $dark-text-default, $light: $light-text-default) {
  @if $color == null {
    @return null;
  }
  @else {
    $color-brightness: brightness($color);  
    $light-text-brightness: brightness($light);
    $dark-text-brightness: brightness($dark);

    @return if(math.abs($color-brightness - $light-text-brightness) > math.abs($color-brightness - $dark-text-brightness), $light, $dark);  
  }
}