@use '@angular/material' as mat;

$backbase-primary: (
  50: #e8eaff,
  100: #c4c9fe,
  200: #99a6fe,
  300: #6683ff,
  400: #3366ff,
  500: #0048fc,
  600: #0040f0,
  700: #0034e3,
  800: #0027d9,
  900: #000bc0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$backbase-secondary: (
  50: #e4eaff,
  100: #beceeb,
  200: #9eadce,
  300: #7b8cb1,
  400: #63759c,
  500: #4a5f88,
  600: #3c5378,
  700: #2c4162,
  800: #1d2f4c,
  900: #091c35,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$backbase-electric: (
  50: #dffffe,
  100: #adfffd,
  200: #69ffff,
  300: #00fcff,
  400: #00f7fe,
  500: #00f2ff,
  600: #00e1eb,
  700: #00c9cf,
  800: #00b4b6,
  900: #008e86,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$backbase-accent: (
  50: #fbe8e7,
  100: #ffc8bc,
  200: #ffa392,
  300: #ff7e67,
  400: #ff6047,
  500: #ff3e2a,
  600: #f43826,
  700: #e63121,
  800: #d8291c,
  900: #bf1a13,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$backbase-primary-light: mat.m2-define-palette($backbase-primary, 500);
$backbase-secondary-light: mat.m2-define-palette($backbase-secondary, 900);
$backbase-accent-light: mat.m2-define-palette($backbase-electric, 200);

$backbase-primary-dark: mat.m2-define-palette($backbase-electric, 200);
$backbase-secondary-dark: mat.m2-define-palette($backbase-secondary, 600);
$backbase-accent-dark: mat.m2-define-palette($backbase-accent, 400);
