@use '@angular/material' as mat;

@use 'palette' as default-palette;
@use 'typography' as default-typography;
@use 'contrast' as *;

@mixin theme(
  $primary-color: default-palette.$backbase-primary-light,
  $secondary-color: default-palette.$backbase-secondary-light,
  $accent-color: default-palette.$backbase-accent-light,
  $neutral: #f3f6f9,
  $text-color: map-get(default-palette.$backbase-secondary-light, default),
  $text-muted: #4a5f88,
  $typography: default-typography.$backbase-typography,
  $background-color: #ffffff,
  $bg-gradient: (
    rgba(51, 102, 255, 1),
    rgba(255, 96, 71, 1),
    rgba(73, 164, 255, 1),
    rgba(105, 254, 255, 1),
  ),
  $default: true,
  $dark: false,
) {
  $material-theme: ();
  @if ($dark) {
    $material-theme: mat.m2-define-dark-theme(
      (
        color: (
          primary: $primary-color,
          accent: $accent-color,
        ),
        typography: $typography,
        density: 0,
      )
    );
  } @else {
    $material-theme: mat.m2-define-light-theme(
      (
        color: (
          primary: $primary-color,
          accent: $accent-color,
        ),
        typography: $typography,
        density: 0,
      )
    );
  }

  @if $default {
    @include mat.elevation-classes();
    @include mat.app-background();
    @include mat.all-component-themes($material-theme);
    @include mat.typography-hierarchy($typography);
  } @else {
    @include mat.all-component-colors($material-theme);
  }
  
  --blog-palette-primary: #{mat.get-theme-color($material-theme, primary)};
  --blog-palette-secondary: #{map-get($secondary-color, default)};
  --blog-palette-accent: #{mat.get-theme-color($material-theme, accent)};
  --blog-palette-secondary-contrast: #{color-contrast(map-get($secondary-color, default))};
  @for $i from 1 through length($bg-gradient) {
    --blog-palette-gradient-#{$i}: #{nth($bg-gradient, $i)};
  }
  --blog-palette-background: #{$background-color};
  --blog-palette-text: #{$text-color};
  --blog-palette-neutral: #{$neutral};
  --blog-palette-tangerine: #ff6047;
  --blog-palette-electric: #69ffff;
  --blog-palette-muted: #{$text-muted};
  --mat-paginator-container-background-color: #{$background-color};
  --mat-card-elevated-container-color: #{$background-color};
  --backbase-primary: #{map-get(default-palette.$backbase-primary-light, 500)};
}