@use '@angular/material' as mat;

$backbase-typography: mat.define-typography-config(
  $font-family: 'Libre Franklin',
  $headline-5: mat.define-typography-level(4em, 1, 700),
  $subtitle-1: mat.define-typography-level(1.2em, 1, 700),
  $subtitle-2: mat.define-typography-level(1em, 1, 700),
  $body-2: mat.define-typography-level(1rem, 1.5, 400),
);